<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>路人甲</string>
		<key>numofPic</key>
		<integer>1</integer>
		<key>images</key>
		<array>
			<string>1</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>路人乙</string>
		<key>numofPic</key>
		<integer>3</integer>
		<key>images</key>
		<array>
			<string>2</string>
			<string>4</string>
			<string>3</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>路人丙</string>
		<key>numofPic</key>
		<integer>2</integer>
		<key>images</key>
		<array>
			<string>5</string>
			<string>6</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>路人丁</string>
		<key>numofPic</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>6</string>
			<string>2</string>
			<string>5</string>
			<string>3</string>
			<string>7</string>
		</array>
	</dict>
</array>
</plist>
